<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                    <h4 class="mb-sm-0">Données <span *ngIf="typeRegistre"> - {{ typeRegistre.libelle }}</span></h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a routerLink="/">Tableau de bord</a></li>
                            <li class="breadcrumb-item">Données</li>
                            <li *ngIf="typeRegistre" class="breadcrumb-item active">{{ typeRegistre.libelle }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                            <div class="search-box">
                                <!-- <input type="text" class="form-control bg-light border-light" placeholder="Rechercher...">
                                <i class="ri-search-2-line search-icon"></i> -->
                            </div>

                            <div class="d-flex gap-2 align-items-start">
                                <!-- <button class="btn btn-primary d-flex align-items-center" role="button" (click)="openAttributionIndexeurPlusieursLotsModal()"><i class="ri-group-line me-1 align-bottom"></i>Assigner un indexeur</button>
                                <button class="btn btn-success d-flex align-items-center" role="button" (click)="openAttributionControleurPlusieursLotsModal()"><i class="ri-user-3-line me-1 align-bottom"></i>Assigner un contrôleur</button> -->
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <!-- <div class="d-flex justify-content-between align-items-center"> -->
                            <!-- <h4 class="card-title mb-0 flex-grow-1">Filtres</h4> -->
                            <div class="d-flex justify-content-end align-items-center form-check-success">
                                <label class="form-check-label me-2" for="formCheck8">
                                    Masquer les filtres
                                </label>
                                <input [(ngModel)]="masquerfiltresListeDonneesIndexation" class="form-check-input" type="checkbox" id="formCheck8">
                            </div>
                        <!-- </div> -->
                        
                        <form *ngIf="!masquerfiltresListeDonneesIndexation" [formGroup]="filtresListeDonneesIndexationForm">
                            <div class="row gy-4 mt-4 mb-4">                      
                                <div class="col-lg-4 col-md-6">
                                    <div>
                                        <label for="fichier" class="form-label text-muted">Nom du fichier</label>
                                        <input type="text" class="form-control" id="fichier" formControlName="fichier">
                                    </div>
                                </div>
                            </div>
    
                            <div class="d-flex justify-content-end align-items-center form-check-success mb-4 gap-2">
                                <button (click)="effacerFiltresListeDonneesIndexation()" class="btn btn-light">Effacer</button>
                                <button (click)="filtrerListeDonneesIndexation(0, listeDonneesIndexation.paginationSize)" class="btn btn-success"><i class="ri-filter-3-fill me-1 align-bottom"></i>Filtrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <!-- <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Liste des dossiers</h4>
                    </div> -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover table-nowrap align-middle mb-0">
                                <thead class="">
                                    <tr class="text-mute">
                                        <!-- <th scope="col" style="width: 50px;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" [(ngModel)]="selectedAllDonneesIndexation" (change)="onSelectedAllDonneesIndexationChange()">
                                            </div>
                                        </th> -->
                                        <th scope="col">#</th>
                                        <th *ngIf="typeRegistreId == typesRegistre.FORMALITES_PREALABLES" scope="col">N° de réquisition</th>
                                        <th *ngIf="typeRegistreId == typesRegistre.OPPOSITIONS" scope="col">N° d'ordre</th>
                                        <th *ngIf="typeRegistreId == typesRegistre.OPPOSITIONS" scope="col">N°s de réquisition</th>
                                        <th *ngIf="typeRegistreId == typesRegistre.DEPOTS" scope="col">N° d'ordre</th>
                                        <th *ngIf="typeRegistreId == typesRegistre.DEPOTS" scope="col">N° de réquisition</th>
                                        <th *ngIf="typeRegistreId == typesRegistre.TITRES_FONCIERS" scope="col">N° de titre foncier</th>
                                        <th *ngIf="typeRegistreId == typesRegistre.TITRES_FONCIERS" scope="col">N° de réquisition</th>
                                        <th scope="col">Statut</th>
                                        <th scope="col">Fichier source</th>
                                        <th scope="col">Page</th>
                                        <th scope="col">Etat d'indexation</th>
                                        <th scope="col">Région</th>
                                        <th scope="col">Période</th>
                                        <th scope="col">Date de validation</th>
                                        <th scope="col">Dernière modification</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let donneeIndexation of listeDonneesIndexation.data; index as donneeIndexationIndex">
                                        <td>
                                            {{ (listeDonneesIndexation.paginationSize! * listeDonneesIndexation.currentPage!) + donneeIndexationIndex + 1 }}
                                        </td> 
                                        <td *ngIf="typeRegistreId == typesRegistre.FORMALITES_PREALABLES && donneeIndexation.formalitePrealable">{{ donneeIndexation.formalitePrealable.numeroRequisition ?? '----' }}</td>
                                        <td *ngIf="typeRegistreId == typesRegistre.OPPOSITIONS && donneeIndexation.opposition">{{ donneeIndexation.opposition.acteRegistre?.numeroOrdre ?? '----' }}</td>
                                        <td *ngIf="typeRegistreId == typesRegistre.OPPOSITIONS && donneeIndexation.opposition">{{ donneeIndexation.opposition.oppositionsRequisitions!.length }}</td>
                                        <td *ngIf="typeRegistreId == typesRegistre.DEPOTS && donneeIndexation.depot">{{ donneeIndexation.depot.acteRegistre?.numeroOrdre ?? '----' }}</td>
                                        <td *ngIf="typeRegistreId == typesRegistre.DEPOTS && donneeIndexation.depot">{{ donneeIndexation.depot.numeroRequisition ?? '----' }}</td>
                                        <td *ngIf="typeRegistreId == typesRegistre.TITRES_FONCIERS && donneeIndexation.titreFoncier">{{ donneeIndexation.titreFoncier.numero | getNumeroTitreFoncier: donneeIndexation.titreFoncier.numeroPrefixe: donneeIndexation.titreFoncier.numeroSuffixe }}</td>
                                        <td *ngIf="typeRegistreId == typesRegistre.TITRES_FONCIERS && donneeIndexation.titreFoncier">{{ donneeIndexation.titreFoncier.numeroRequisition ?? '----' }}</td>
                                        <td>
                                            <div *ngIf="typeRegistreId == typesRegistre.FORMALITES_PREALABLES && donneeIndexation.formalitePrealable">
                                                <div [ngSwitch]="donneeIndexation.formalitePrealable.statut">
                                                    <div *ngSwitchCase="statutsFormalitePrealable.VALIDEE"><span class="badge bg-success-subtle text-success text-uppercase">Validée</span></div>
                                                    <div *ngSwitchCase="statutsFormalitePrealable.REJETEE"><span class="badge bg-danger-subtle text-danger text-uppercase">Rejetée</span></div>
                                                    <div *ngSwitchCase="statutsFormalitePrealable.SUSPENDUE"><span class="badge bg-danger-subtle text-danger text-uppercase">Suspendue</span></div>
                                                    <div *ngSwitchCase="statutsFormalitePrealable.ANNULEE"><span class="badge bg-danger-subtle text-danger text-uppercase">Annulée</span></div>
                                                    <div *ngSwitchDefault>----</div>
                                                </div>
                                            </div>
                                            <div *ngIf="typeRegistreId == typesRegistre.OPPOSITIONS && donneeIndexation.opposition">
                                                <div [ngSwitch]="donneeIndexation.opposition.statut">
                                                    <div *ngSwitchCase="statutsOpposition.RECEVABLE"><span class="badge bg-success-subtle text-success text-uppercase">Valide</span></div>
                                                    <div *ngSwitchCase="statutsOpposition.REJETEE"><span class="badge bg-danger-subtle text-danger text-uppercase">Annulé</span></div>
                                                    <div *ngSwitchCase="statutsOpposition.LEVEE"><span class="badge bg-info-subtle text-info text-uppercase">Levée</span></div>
                                                    <div *ngSwitchDefault>----</div>
                                                </div>
                                            </div>
                                            <div *ngIf="typeRegistreId == typesRegistre.DEPOTS && donneeIndexation.depot">
                                                <div [ngSwitch]="donneeIndexation.depot.statut">
                                                    <div *ngSwitchCase="statutsDepot.VALIDE"><span class="badge bg-success-subtle text-success text-uppercase">Valide</span></div>
                                                    <div *ngSwitchCase="statutsDepot.ANNULE"><span class="badge bg-danger-subtle text-danger text-uppercase">Annulé</span></div>
                                                    <div *ngSwitchDefault>----</div>
                                                </div>
                                            </div>
                                            <div *ngIf="typeRegistreId == typesRegistre.TITRES_FONCIERS && donneeIndexation.titreFoncier">
                                                <div [ngSwitch]="donneeIndexation.titreFoncier.statut">
                                                    <div *ngSwitchCase="statutsTitreFoncier.VALIDE"><span class="badge bg-success-subtle text-success text-uppercase">Valide</span></div>
                                                    <div *ngSwitchCase="statutsTitreFoncier.ANNULE"><span class="badge bg-danger-subtle text-danger text-uppercase">Annulé</span></div>
                                                    <div *ngSwitchDefault>----</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div *ngIf="donneeIndexation.progressionTacheIndexation && donneeIndexation.progressionTacheIndexation.tacheIndexation && donneeIndexation.progressionTacheIndexation.tacheIndexation.fichier" class="d-flex align-items-center">
                                                <div *ngIf="donneeIndexation.progressionTacheIndexation.tacheIndexation.fichier.extension" [ngClass]="getFichierRessourceIcone(donneeIndexation.progressionTacheIndexation.tacheIndexation.fichier.extension)" class="file-icon flex-shrink-0 me-2"></div>
                                                <div *ngIf="!donneeIndexation.progressionTacheIndexation.tacheIndexation.fichier.extension" class="flex-shrink-0 fs-17 me-2 filelist-icon"><i class="ri-file-3-line align-bottom text-primary"></i></div>
                                                <div class="flex-grow-1">{{ donneeIndexation.progressionTacheIndexation.tacheIndexation.fichier.nom }}</div>
                                            </div>
                                        </td>
                                        <td>
                                            <span *ngIf="donneeIndexation.progressionTacheIndexation">{{ donneeIndexation.progressionTacheIndexation.page }}</span>
                                        </td>
                                        <td>
                                            <div *ngIf="donneeIndexation.progressionTacheIndexation" [ngSwitch]="donneeIndexation.progressionTacheIndexation.etat">
                                                <div *ngSwitchCase="etatsProgressionIndexation.VALIDE"><span class="badge bg-success-subtle text-success text-uppercase">Validé</span></div>
                                                <div *ngSwitchCase="etatsProgressionIndexation.REJETE"><span class="badge bg-danger-subtle text-danger text-uppercase">Rejeté</span></div>
                                                <div *ngSwitchCase="etatsProgressionIndexation.INDEXE"><span class="badge bg-info-subtle text-info text-uppercase">Indexé</span></div>
                                                <div *ngSwitchCase="etatsProgressionIndexation.SIGNALE"><span class="badge bg-danger-subtle text-danger text-uppercase">Signalée</span></div>
                                                <div *ngSwitchDefault>----</div>
                                            </div>
                                        </td>
                                        <td>{{ donneeIndexation.region ? donneeIndexation.region.libelle : '---' }}</td>
                                        <td>{{ donneeIndexation.region && donneeIndexation.region.periode ? donneeIndexation.region.periode.libelle  : '---' }}</td>
                                        <td>
                                            <span *ngIf="donneeIndexation.dateValidation">{{ donneeIndexation.dateValidation | date: 'dd MMM YYYY HH:mm' | titlecase }}</span>
                                            <span *ngIf="!donneeIndexation.dateValidation" class="text-muted text-end"><i>En attente de validation</i></span>
                                        </td>
                                        <td>
                                            {{ donneeIndexation.updatedAt | date: 'dd MMM YYYY HH:mm' | titlecase }}
                                        </td>
                                        <td class="text-end">
                                            <a role="button" (click)="openTacheDetails(donneeIndexation)" title="Ouvrir"><i class="ri-edit-box-line fs-4 text-primary align-bottom"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <app-custom-pagination-controls [currentPage]="listeDonneesIndexation.currentPage" [totalItems]="listeDonneesIndexation.totalItems" [totalPages]="listeDonneesIndexation.totalPages" (paginationChange)="onPaginationChange($event)"></app-custom-pagination-controls>
                            </div>

                            <app-no-data-banner [show]="listeDonneesIndexation.data.length == 0" text="Aucune donnée"></app-no-data-banner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->