<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                    <h4 class="mb-sm-0">Préfectures</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a routerLink="/">Tableau de bord</a></li>
                            <li class="breadcrumb-item"><a routerLink="/admin">Administration</a></li>
                            <li class="breadcrumb-item"><a routerLink="/admin/situations">Situations</a></li>
                            <li class="breadcrumb-item active">Préfectures</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                            <form [formGroup]="filtresListePrefecturesForm" class="app-search">
                                <div class="position-relative">
                                    <input (change)="filtrerListePrefectures()" type="text" formControlName="search" class="form-control bg-light border-light" placeholder="Rechercher une préfecture..." autocomplete="off">
                                    <span class="mdi mdi-magnify search-widget-icon"></span>
                                    <span role="button" (click)="annulerRecherchePrefecture()" *ngIf="filtresListePrefecturesForm.get('search')!.value != null" class="mdi mdi-close-circle search-widget-icon search-widget-icon-close"></span>
                                </div>
                            </form>

                            <div class="d-flex gap-2 align-items-start">
                                <button class="btn btn-primary add-btn" role="button" (click)="openNouvellePrefectureModal()"><i class="ri-add-fill me-1 align-bottom"></i>Ajouter</button>
                                <!-- <button class="btn btn-success disabled" role="button" (click)="null"><i class="ri-file-download-line me-1 align-bottom"></i>Importer un prefecture</button> -->
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="d-flex justify-content-end align-items-center form-check-success">
                            <label class="form-check-label me-2" for="formCheck8">
                                Masquer les filtres
                            </label>
                            <input [(ngModel)]="masquerfiltresListePrefectures" class="form-check-input" type="checkbox" id="formCheck8">
                        </div>
                        
                        <form *ngIf="!masquerfiltresListePrefectures" [formGroup]="filtresListePrefecturesForm">
                            <div class="row gy-4 mt-4 mb-4">                      
                                <div class="col-lg-4 col-md-6">
                                    <div>
                                        <label for="region" class="form-label text-muted">Région</label>
                                        <ng-select formControlName="region" bindLabel="libelle" placeholder="Toutes les régions" bindValue="id" [items]="regions"></ng-select>
                                    </div>
                                </div>
                            </div>
    
                            <div class="d-flex justify-content-end align-items-center form-check-success mb-4 gap-2">
                                <button (click)="effacerFiltresListePrefectures()" class="btn btn-light">Effacer</button>
                                <button (click)="filtrerListePrefectures(0, listePrefectures.paginationSize)" class="btn btn-success"><i class="ri-filter-3-fill me-1 align-bottom"></i>Filtrer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Liste des préfectures</h4>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover table-striped table-nowrap align-middle mb-0">
                                <thead class="">
                                    <tr class="">
                                        <th scope="col" style="width: 50px;">#</th>
                                        <th scope="col">Libellé</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Région</th>
                                        <th scope="col">Dernière modification</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let prefecture of listePrefectures.data; index as prefectureIndex">
                                        <td>
                                            {{ (listePrefectures.paginationSize! * listePrefectures.currentPage!) + prefectureIndex + 1 }}
                                        </td>
                                        <td>{{ prefecture.libelle }}</td>
                                        <td>
                                            <span *ngIf="prefecture.description">{{ prefecture.description }}</span>
                                            <span *ngIf="!prefecture.description" class="text-muted text-end"><i>Aucune description</i></span>
                                        </td>
                                        <td>{{ prefecture.region ? prefecture.region.libelle  : '---' }}</td>
                                        <td>
                                            {{ prefecture.updatedAt | date: 'dd MMM YYYY HH:mm' | titlecase }}
                                        </td>
                                        <td>
                                            <div class="d-flex gap-3 justify-content-center align-items-center">
                                                <a role="button" (click)="openModificationPrefectureModal(prefectureIndex)"><i class="ri-pencil-line text-secondary fs-5"></i></a>
                                                <a role="button" (click)="openSuppressionPrefectureModal(prefectureIndex)"><i class="ri-delete-bin-line text-danger fs-5"></i></a>
                                            </div>
                                            <!-- <div class="d-flex gap-3 justify-content-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-light btn-icon btn-sm dropdown" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false"> <i class="ri-more-fill align-bottom"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" role="button" (click)="openModificationPrefectureModal(prefectureIndex)">Modifier</a></li>
                                                        <li class="dropdown-divider"></li>
                                                        <li>
                                                            <a class="dropdown-item text-danger" role="button" (click)="openSuppressionPrefectureModal(prefectureIndex)">Supprimer</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                        </td>
                                    </tr>
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                            <div>
                                <app-custom-pagination-controls [currentPage]="listePrefectures.currentPage" [totalItems]="listePrefectures.totalItems" [totalPages]="listePrefectures.totalPages" (paginationChange)="getPrefectures($event)"></app-custom-pagination-controls>
                            </div>

                            <app-no-data-banner [show]="listePrefectures.data.length == 0" text="Aucun prefecture"></app-no-data-banner>
                        </div><!-- end table responsive -->
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->

    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->


<!-- Modals -->
<app-custom-modal title="Nouvelle préfecture" [show]="showNouvellePrefectureModal" (modalClose)="annulerCreationPrefecture()">
    <div body>
        <form [formGroup]="nouvellePrefectureForm">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div>
                        <label for="libelle" class="form-label">Libellé</label>
                        <input type="text" class="form-control" id="libelle" formControlName="libelle">
                        <div *ngIf="nouvellePrefectureForm.get('libelle')!.invalid && (nouvellePrefectureForm.get('libelle')!.dirty || nouvellePrefectureForm.get('libelle')!.touched)">
                            <app-form-message [show]="nouvellePrefectureForm.get('libelle')!.errors?.['required']" type="danger" text="Entrer un libellé"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="regionId" class="form-label">Région</label>
                        <ng-select formControlName="regionId" (open)="getRegions()">
                            <ng-option *ngFor="let region of regions" [value]="region.id">{{ region.libelle }}</ng-option>
                        </ng-select>
                        <div *ngIf="nouvellePrefectureForm.get('regionId')!.invalid && (nouvellePrefectureForm.get('regionId')!.dirty || nouvellePrefectureForm.get('regionId')!.touched)">
                            <app-form-message [show]="nouvellePrefectureForm.get('regionId')!.errors?.['required']" type="danger" text="Choisir une région"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="annulerCreationPrefecture()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerCreationPrefecture()" class="btn btn-primary">Valider</button>
        </div>
    </div>
</app-custom-modal>

<app-custom-modal title="Modifier cette préfecture" [show]="showModificationPrefectureModal" (modalClose)="annulerModificationPrefecture()">
    <div body>
        <form [formGroup]="modificationPrefectureForm">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div>
                        <label for="libelle" class="form-label">Libellé</label>
                        <input type="text" class="form-control" id="libelle" formControlName="libelle">
                        <div *ngIf="modificationPrefectureForm.get('libelle')!.invalid && (modificationPrefectureForm.get('libelle')!.dirty || modificationPrefectureForm.get('libelle')!.touched)">
                            <app-form-message [show]="modificationPrefectureForm.get('libelle')!.errors?.['required']" type="danger" text="Entrer un libellé"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="regionId" class="form-label">Région</label>
                        <ng-select formControlName="regionId" (open)="getRegions()">
                            <ng-option *ngFor="let region of regions" [value]="region.id">{{ region.libelle }}</ng-option>
                        </ng-select>
                        <div *ngIf="modificationPrefectureForm.get('regionId')!.invalid && (modificationPrefectureForm.get('regionId')!.dirty || modificationPrefectureForm.get('regionId')!.touched)">
                            <app-form-message [show]="modificationPrefectureForm.get('regionId')!.errors?.['required']" type="danger" text="Choisir une région"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="annulerModificationPrefecture()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerModificationPrefecture()" class="btn btn-primary">Valider</button>
        </div>
    </div>
</app-custom-modal>

<app-custom-modal title="Supprimer cette préfecture" [show]="showSuppressionPrefectureModal" (modalClose)="closeSuppressionPrefectureModal()">
    <div body>
        <p class="text-muted my-4">Êtes-vous sûr de vouloir supprimer cette préfecture ? <span class="fw-bold">Elle sera déplacée dans la corbeille</span> </p>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="closeSuppressionPrefectureModal()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerSuppressionPrefecture()" class="btn btn-danger">Confirmer</button>
        </div>  
    </div>
</app-custom-modal>