<div class="card">
    <div class="card-header">
        <h6 class="mb-2 py-2 fw-bold text-uppercase text-primary fs-14"><span class="me-2">A</span> Droits réels constitutés par dénombrement (Baux à ferme ou a loyer, charges et servitudes, etc)</h6>
    </div>
    <div class="card-header">
        <form>
            <div class="row g-3 justify-content-between">
                <div class="col-lg-10 col-md-8">
                    <form [formGroup]="filtresListeDroitsReelsConstituesParDenombrementForm" class="row g-3">
                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <div class="search-box">
                                <input type="text" class="form-control" formControlName="search" placeholder="Rechercher...">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-3 col-md-4">
                            <input type="date" class="form-control" formControlName="dateInscription" placeholder="Date d'inscription...">
                        </div>
                        <!--end col-->

                        <div class="col-lg-3 col-md-4">
                            <input type="date" class="form-control" formControlName="dateRadiation" placeholder="Date de radiation...">
                        </div>
                        <!--end col-->
                    </form>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="d-flex gap-2 align-items-center justify-content-end">
                        <button (click)="filtrerListeDroitsReelsConstituesParDenombrement()" class="btn btn-success"><i class="ri-filter-3-fill me-1 align-bottom"></i>Filtrer</button>
                        <button (click)="openNouveauDroitReelConstitueParDenombrementModal()" class="btn btn-primary"><i class="ri-add-fill me-1 align-bottom"></i>Ajouter</button>
                    </div>
                </div>
                <!--end col-->
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive no-min-height mt-2 mb-3">
            <table class="table table-borderless table-striped table-hover align-middle mb-0">
                <thead class="">
                    <tr class="">
                        <th>#</th>
                        <th scope="col">N° BA de constitution</th>
                        <th scope="col">Date d'inscription</th>
                        <th scope="col">Indication de la charge</th>
                        <th scope="col">Prix</th>
                        <th scope="col">N° BA de radiation</th>
                        <th scope="col">Date de radiation</th>
                        <th class="text-end">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let droitReelConstitueParDenombrement of listeDroitsReelsConstituesParDenombrement.data; index as droitReelConstitueParDenombrementIndex">
                        <td>
                            {{ (listeDroitsReelsConstituesParDenombrement.paginationSize! * listeDroitsReelsConstituesParDenombrement.currentPage!) + droitReelConstitueParDenombrementIndex + 1 }}
                        </td>
                        <td>{{ droitReelConstitueParDenombrement.numeroBordereauAnalytiqueConstitution }}</td>
                        <td>{{ droitReelConstitueParDenombrement.dateInscription | date: 'dd MMM YYYY' | titlecase }}</td>
                        <td>{{ droitReelConstitueParDenombrement.indicationChargeOuConstitue }}</td>
                        <td>
                            <span *ngIf="!droitReelConstitueParDenombrement.prix">-----</span>
                            <span *ngIf="droitReelConstitueParDenombrement.prix">{{ droitReelConstitueParDenombrement.prix | number: '1.0-0' }}</span>
                        </td>
                        <td>
                            <span *ngIf="!droitReelConstitueParDenombrement.numeroBordereauAnalytiqueRadiation" class="badge bg-danger-subtle text-danger text-uppercase">Non radié</span>
                            <span *ngIf="droitReelConstitueParDenombrement.numeroBordereauAnalytiqueRadiation">{{ droitReelConstitueParDenombrement.numeroBordereauAnalytiqueRadiation }}</span>
                        </td>
                        <td>
                            <span *ngIf="!droitReelConstitueParDenombrement.dateRadiation" class="badge bg-danger-subtle text-danger text-uppercase">Non radié</span>
                            <span *ngIf="droitReelConstitueParDenombrement.dateRadiation">{{ droitReelConstitueParDenombrement.dateRadiation | date: 'dd MMM YYYY' | titlecase }}</span>
                        </td>
                        <td class="text-end">
                            <div class="d-flex gap-3 justify-content-end align-items-center">
                                <a role="button" (click)="openModificationDroitReelConstitueParDenombrementModal(droitReelConstitueParDenombrementIndex)"><i class="ri-pencil-line text-secondary fs-5"></i></a>
                                <a role="button" (click)="openSuppressionDroitReelConstitueParDenombrementModal(droitReelConstitueParDenombrementIndex)"><i class="ri-delete-bin-line text-danger fs-5"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <app-custom-pagination-controls [currentPage]="listeDroitsReelsConstituesParDenombrement.currentPage" [totalItems]="listeDroitsReelsConstituesParDenombrement.totalItems" [totalPages]="listeDroitsReelsConstituesParDenombrement.totalPages" (paginationChange)="getDroitsReelsConstituesParDenombrement($event)"></app-custom-pagination-controls>
            </div>

            <app-no-data-banner [show]="listeDroitsReelsConstituesParDenombrement.data.length == 0" text="Aucun droit réel constitué par dénombrement"></app-no-data-banner>
        </div>
    </div>
    <!-- end card body -->
</div>
<!-- end card -->

<!-- Modals -->
<app-custom-modal title="Nouveau droit réel constitué par dénombrement" [show]="showNouveauDroitReelConstitueParDenombrementModal" (modalClose)="annulerCreationDroitReelConstitueParDenombrement()">
    <div body>
        <form [formGroup]="nouveauDroitReelConstitueParDenombrementForm">
            <div class="row gy-4 mb-3">
                <div class="col-12">
                    <h5 class="fs-14 mb-0 text-uppercase text-muted">Constitution</h5>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="numeroBordereauAnalytiqueConstitution" class="form-label">Numéro de bordereau analytique <span class="text-muted">*</span></label>
                        <input type="text" class="form-control" id="numeroBordereauAnalytiqueConstitution" formControlName="numeroBordereauAnalytiqueConstitution">

                        <div *ngIf="nouveauDroitReelConstitueParDenombrementForm.get('numeroBordereauAnalytiqueConstitution')!.invalid && (nouveauDroitReelConstitueParDenombrementForm.get('numeroBordereauAnalytiqueConstitution')!.dirty || nouveauDroitReelConstitueParDenombrementForm.get('numeroBordereauAnalytiqueConstitution')!.touched)">
                            <app-form-message [show]="nouveauDroitReelConstitueParDenombrementForm.get('numeroBordereauAnalytiqueConstitution')!.errors?.['required']" type="danger" text="Donnée obligatoire"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="dateInscription" class="form-label">Date d'inscription <span class="text-muted">*</span></label>
                        <input type="date" class="form-control" id="dateInscription" formControlName="dateInscription">

                        <div *ngIf="nouveauDroitReelConstitueParDenombrementForm.get('dateInscription')!.invalid && (nouveauDroitReelConstitueParDenombrementForm.get('dateInscription')!.dirty || nouveauDroitReelConstitueParDenombrementForm.get('dateInscription')!.touched)">
                            <app-form-message [show]="nouveauDroitReelConstitueParDenombrementForm.get('dateInscription')!.errors?.['required']" type="danger" text="Donnée obligatoire"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div>
                        <label for="indicationChargeOuConstitue" class="form-label">Indication de la charge ou du constitué <span class="text-muted">*</span></label>
                        <textarea class="form-control" id="indicationChargeOuConstitue" formControlName="indicationChargeOuConstitue" rows="3"></textarea>

                        <div *ngIf="nouveauDroitReelConstitueParDenombrementForm.get('indicationChargeOuConstitue')!.invalid && (nouveauDroitReelConstitueParDenombrementForm.get('indicationChargeOuConstitue')!.dirty || nouveauDroitReelConstitueParDenombrementForm.get('indicationChargeOuConstitue')!.touched)">
                            <app-form-message [show]="nouveauDroitReelConstitueParDenombrementForm.get('indicationChargeOuConstitue')!.errors?.['required']" type="danger" text="Donnée obligatoire"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="prix" class="form-label">Prix des droits cédés, baux, etc.</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="prix" formControlName="prix">
                            <span class="input-group-text">F CFA</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h5 class="fs-14 mb-0 text-uppercase text-muted">Libération</h5>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="numeroBordereauAnalytiqueRadiation" class="form-label">Numéro de bordereau analytique</label>
                        <input type="text" class="form-control" id="numeroBordereauAnalytiqueRadiation" formControlName="numeroBordereauAnalytiqueRadiation">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="dateRadiation" class="form-label">Date de radiation</label>
                        <input type="date" class="form-control" id="dateRadiation" formControlName="dateRadiation">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="annulerCreationDroitReelConstitueParDenombrement()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerCreationDroitReelConstitueParDenombrement()" class="btn btn-primary">Valider</button>
        </div>
    </div>
</app-custom-modal>

<app-custom-modal title="Modifier ce droit réel constitué par dénombrement" [show]="showModificationDroitReelConstitueParDenombrementModal" (modalClose)="annulerModificationDroitReelConstitueParDenombrement()">
    <div body>
        <form [formGroup]="modificationDroitReelConstitueParDenombrementForm">
            <div class="row gy-4 mb-3">
                <div class="col-12">
                    <h5 class="fs-14 mb-0 text-uppercase text-muted">Constitution</h5>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="numeroBordereauAnalytiqueConstitution" class="form-label">Numéro de bordereau analytique <span class="text-muted">*</span></label>
                        <input type="text" class="form-control" id="numeroBordereauAnalytiqueConstitution" formControlName="numeroBordereauAnalytiqueConstitution">

                        <div *ngIf="modificationDroitReelConstitueParDenombrementForm.get('numeroBordereauAnalytiqueConstitution')!.invalid && (modificationDroitReelConstitueParDenombrementForm.get('numeroBordereauAnalytiqueConstitution')!.dirty || modificationDroitReelConstitueParDenombrementForm.get('numeroBordereauAnalytiqueConstitution')!.touched)">
                            <app-form-message [show]="modificationDroitReelConstitueParDenombrementForm.get('numeroBordereauAnalytiqueConstitution')!.errors?.['required']" type="danger" text="Donnée obligatoire"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="dateInscription" class="form-label">Date d'inscription <span class="text-muted">*</span></label>
                        <input type="date" class="form-control" id="dateInscription" formControlName="dateInscription">

                        <div *ngIf="modificationDroitReelConstitueParDenombrementForm.get('dateInscription')!.invalid && (modificationDroitReelConstitueParDenombrementForm.get('dateInscription')!.dirty || modificationDroitReelConstitueParDenombrementForm.get('dateInscription')!.touched)">
                            <app-form-message [show]="modificationDroitReelConstitueParDenombrementForm.get('dateInscription')!.errors?.['required']" type="danger" text="Donnée obligatoire"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div>
                        <label for="indicationChargeOuConstitue" class="form-label">Indication de la charge ou du constitué <span class="text-muted">*</span></label>
                        <textarea class="form-control" id="indicationChargeOuConstitue" formControlName="indicationChargeOuConstitue" rows="3"></textarea>

                        <div *ngIf="modificationDroitReelConstitueParDenombrementForm.get('indicationChargeOuConstitue')!.invalid && (modificationDroitReelConstitueParDenombrementForm.get('indicationChargeOuConstitue')!.dirty || modificationDroitReelConstitueParDenombrementForm.get('indicationChargeOuConstitue')!.touched)">
                            <app-form-message [show]="modificationDroitReelConstitueParDenombrementForm.get('indicationChargeOuConstitue')!.errors?.['required']" type="danger" text="Donnée obligatoire"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="prix" class="form-label">Prix des droits cédés, baux, etc.</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="prix" formControlName="prix">
                            <span class="input-group-text">F CFA</span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h5 class="fs-14 mb-0 text-uppercase text-muted">Libération</h5>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="numeroBordereauAnalytiqueRadiation" class="form-label">Numéro de bordereau analytique</label>
                        <input type="text" class="form-control" id="numeroBordereauAnalytiqueRadiation" formControlName="numeroBordereauAnalytiqueRadiation">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label for="dateRadiation" class="form-label">Date de radiation</label>
                        <input type="date" class="form-control" id="dateRadiation" formControlName="dateRadiation">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="annulerModificationDroitReelConstitueParDenombrement()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerModificationDroitReelConstitueParDenombrement()" class="btn btn-primary">Valider</button>
        </div>
    </div>
</app-custom-modal>

<app-custom-modal title="Supprimer ce droit réel constitué par dénombrement" [show]="showSuppressionDroitReelConstitueParDenombrementModal" (modalClose)="closeSuppressionDroitReelConstitueParDenombrementModal()">
    <div body>
        <p class="text-muted my-4">Êtes-vous sûr de vouloir supprimer ce droit réel constitué par dénombrement ? <span class="fw-bold">Il sera déplacé dans la corbeille</span> </p>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="closeSuppressionDroitReelConstitueParDenombrementModal()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerSuppressionDroitReelConstitueParDenombrement()" class="btn btn-danger">Confirmer</button>
        </div>  
    </div>
</app-custom-modal>