<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                    <h4 class="mb-sm-0">Secteurs d'activité</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a routerLink="/">Tableau de bord</a></li>
                            <li class="breadcrumb-item"><a routerLink="/admin">Administration</a></li>
                            <li class="breadcrumb-item active">Secteurs d'activité</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                            <form [formGroup]="filtresListeSecteursActiviteForm" class="app-search">
                                <div class="position-relative">
                                    <input (change)="filtrerListeSecteursActivite()" type="text" formControlName="search" class="form-control bg-light border-light" placeholder="Rechercher un secteur d'activité..." autocomplete="off">
                                    <span class="mdi mdi-magnify search-widget-icon"></span>
                                    <span role="button" (click)="annulerRechercheSecteurActivite()" *ngIf="filtresListeSecteursActiviteForm.get('search')!.value != null" class="mdi mdi-close-circle search-widget-icon search-widget-icon-close"></span>
                                </div>
                            </form>

                            <div class="d-flex gap-2 align-items-start">
                                <button class="btn btn-primary add-btn" role="button" (click)="openNouveauSecteurActiviteModal()"><i class="ri-add-fill me-1 align-bottom"></i>Ajouter</button>
                                <!-- <button class="btn btn-success disabled" role="button" (click)="null"><i class="ri-file-download-line me-1 align-bottom"></i>Importer un region</button> -->
                            </div>
                        </div>
                    </div>

                    <!-- <div class="card-body">
                        <div class="d-flex justify-content-end align-items-center form-check-success">
                            <label class="form-check-label me-2" for="formCheck8">
                                Masquer les filtres
                            </label>
                            <input [(ngModel)]="masquerfiltresListeSecteursActivite" class="form-check-input" type="checkbox" id="formCheck8">
                        </div>
                        
                        <form *ngIf="!masquerfiltresListeSecteursActivite" [formGroup]="filtresListeSecteursActiviteForm">
                            <div class="row gy-4 mt-4 mb-4">                      
                                <div class="col-lg-4 col-md-6">
                                </div>
                            </div>
    
                            <div class="d-flex justify-content-end align-items-center form-check-success mb-4 gap-2">
                                <button (click)="effacerFiltresListeSecteursActivite()" class="btn btn-light">Effacer</button>
                                <button (click)="filtrerListeSecteursActivite(0, listeSecteursActivite.paginationSize)" class="btn btn-success"><i class="ri-filter-3-fill me-1 align-bottom"></i>Filtrer</button>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Liste des secteurs d'activité</h4>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover table-striped table-nowrap align-middle mb-0">
                                <thead class="">
                                    <tr class="">
                                        <th scope="col" style="width: 50px;">#</th>
                                        <th scope="col">Libellé</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Dernière modification</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let secteurActivite of listeSecteursActivite.data; index as secteurActiviteIndex">
                                        <td>
                                            {{ (listeSecteursActivite.paginationSize! * listeSecteursActivite.currentPage!) + secteurActiviteIndex + 1 }}
                                        </td>
                                        <td>{{ secteurActivite.libelle }}</td>
                                        <td>
                                            <span *ngIf="secteurActivite.description">{{ secteurActivite.description }}</span>
                                            <span *ngIf="!secteurActivite.description" class="text-muted text-end"><i>Aucune description</i></span>
                                        </td>
                                        <td>
                                            {{ secteurActivite.updatedAt | date: 'dd MMM YYYY HH:mm' | titlecase }}
                                        </td>
                                        <td>
                                            <div class="d-flex gap-3 justify-content-center align-items-center">
                                                <a role="button" (click)="openModificationSecteurActiviteModal(secteurActiviteIndex)"><i class="ri-pencil-line text-secondary fs-5"></i></a>
                                                <a role="button" (click)="openSuppressionSecteurActiviteModal(secteurActiviteIndex)"><i class="ri-delete-bin-line text-danger fs-5"></i></a>
                                            </div>
                                            <!-- <div class="d-flex gap-3 justify-content-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-light btn-icon btn-sm dropdown" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false"> <i class="ri-more-fill align-bottom"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" role="button" (click)="openModificationSecteurActiviteModal(secteurActiviteIndex)">Modifier</a></li>
                                                        <li class="dropdown-divider"></li>
                                                        <li>
                                                            <a class="dropdown-item text-danger" role="button" (click)="openSuppressionSecteurActiviteModal(secteurActiviteIndex)">Supprimer</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                        </td>
                                    </tr>
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                            <div>
                                <app-custom-pagination-controls [currentPage]="listeSecteursActivite.currentPage" [totalItems]="listeSecteursActivite.totalItems" [totalPages]="listeSecteursActivite.totalPages" (paginationChange)="getSecteursActivite($event)"></app-custom-pagination-controls>
                            </div>

                            <app-no-data-banner [show]="listeSecteursActivite.data.length == 0" text="Aucun secteur d'activité"></app-no-data-banner>
                        </div><!-- end table responsive -->
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->

    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->


<!-- Modals -->
<app-custom-modal title="Nouveau secteur d'activité" [show]="showNouveauSecteurActiviteModal" (modalClose)="annulerCreationSecteurActivite()">
    <div body>
        <form [formGroup]="nouveauSecteurActiviteForm">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div>
                        <label for="libelle" class="form-label">Libellé</label>
                        <input type="text" class="form-control" id="libelle" formControlName="libelle">
                        <div *ngIf="nouveauSecteurActiviteForm.get('libelle')!.invalid && (nouveauSecteurActiviteForm.get('libelle')!.dirty || nouveauSecteurActiviteForm.get('libelle')!.touched)">
                            <app-form-message [show]="nouveauSecteurActiviteForm.get('libelle')!.errors?.['required']" type="danger" text="Entrer un libellé"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="annulerCreationSecteurActivite()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerCreationSecteurActivite()" class="btn btn-primary">Valider</button>
        </div>
    </div>
</app-custom-modal>

<app-custom-modal title="Modifier ce secteur d'activité" [show]="showModificationSecteurActiviteModal" (modalClose)="annulerModificationSecteurActivite()">
    <div body>
        <form [formGroup]="modificationSecteurActiviteForm">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div>
                        <label for="libelle" class="form-label">Libellé</label>
                        <input type="text" class="form-control" id="libelle" formControlName="libelle">
                        <div *ngIf="modificationSecteurActiviteForm.get('libelle')!.invalid && (modificationSecteurActiviteForm.get('libelle')!.dirty || modificationSecteurActiviteForm.get('libelle')!.touched)">
                            <app-form-message [show]="modificationSecteurActiviteForm.get('libelle')!.errors?.['required']" type="danger" text="Entrer un libellé"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="annulerModificationSecteurActivite()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerModificationSecteurActivite()" class="btn btn-primary">Valider</button>
        </div>
    </div>
</app-custom-modal>

<app-custom-modal title="Supprimer ce secteur d'activité" [show]="showSuppressionSecteurActiviteModal" (modalClose)="closeSuppressionSecteurActiviteModal()">
    <div body>
        <p class="text-muted my-4">Êtes-vous sûr de vouloir supprimer ce secteur d'activité ? <span class="fw-bold">Il sera déplacé dans la corbeille</span> </p>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="closeSuppressionSecteurActiviteModal()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerSuppressionSecteurActivite()" class="btn btn-danger">Confirmer</button>
        </div>  
    </div>
</app-custom-modal>