<app-custom-alert [show]="emptyError" type="warning" text="Veuillez renseigner tous les champs"></app-custom-alert>
<app-custom-alert [show]="error" type="danger" text="Identifiants de connexion incorrects"></app-custom-alert>

<div class="p-lg-5 p-4">
    <div>
        <h5 class="text-primary">Connexion</h5>
        <p class="text-muted">Entrer vos identifiants pour se connecter</p>
    </div>

    <div class="mt-4">
        <form [formGroup]="connexionForm">
            <div class="mb-3">
                <label for="usernameOrEmail" class="form-label">Email ou nom d'utilisateur</label>
                <input type="text" class="form-control" id="usernameOrEmail" formControlName="usernameOrEmail" placeholder="example@gmail.com" required >
            </div>

            <div class="mb-3">
                <div class="float-end">
                    <a href="auth-pass-reset-cover.html" class="text-muted">Mot de passe oublié?</a>
                </div>
                <label class="form-label" for="password">Mot de passe</label>
                <div class="position-relative auth-pass-inputgroup mb-3">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control pe-5 password-input" formControlName="password" placeholder="********" required id="password">
                    <button (click)="showPassword = !showPassword" class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon material-shadow-none" type="button" id="password-addon">
                        <i *ngIf="!showPassword" class="ri-eye-fill align-middle"></i>
                        <i *ngIf="showPassword" class="ri-eye-off-fill align-middle"></i>
                    </button>
                </div>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="auth-remember-check" formControlName="remember">
                <label class="form-check-label" for="auth-remember-check">Se souvenir de moi</label>
            </div>

            <div class="mt-4">
                <button (click)="connexion()" class="btn btn-primary w-100" type="submit">Se connecter</button>
            </div>
<!-- 
            <div class="mt-4 text-center">
                <div class="signin-other-title">
                    <h5 class="fs-13 mb-4 title">Sign In with</h5>
                </div>

                <div>
                    <button type="button" class="btn btn-primary btn-icon waves-effect waves-light"><i class="ri-facebook-fill fs-16"></i></button>
                    <button type="button" class="btn btn-danger btn-icon waves-effect waves-light"><i class="ri-google-fill fs-16"></i></button>
                    <button type="button" class="btn btn-dark btn-icon waves-effect waves-light"><i class="ri-github-fill fs-16"></i></button>
                    <button type="button" class="btn btn-info btn-icon waves-effect waves-light"><i class="ri-twitter-fill fs-16"></i></button>
                </div>
            </div> -->

        </form>
    </div>

    <div class="mt-5 text-center">
        <p class="mb-0">Vous n'avez pas de compte ? <a routerLink="../inscription" class="fw-semibold text-primary text-decoration-underline">S'inscrire</a> </p>
    </div>
</div>