<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                    <h4 class="mb-sm-0">Profils</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a routerLink="/">Tableau de bord</a></li>
                            <li class="breadcrumb-item"><a routerLink="/admin">Administration</a></li>
                            <li class="breadcrumb-item"><a routerLink="/admin/securite">Sécurité</a></li>
                            <li class="breadcrumb-item active">Profils</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                            <form [formGroup]="filtresListeProfilsForm" class="app-search">
                                <div class="position-relative">
                                    <input (change)="filtrerListeProfils()" type="text" formControlName="search" class="form-control bg-light border-light" placeholder="Rechercher un profil..." autocomplete="off">
                                    <span class="mdi mdi-magnify search-widget-icon"></span>
                                    <span role="button" (click)="annulerRechercheProfil()" *ngIf="filtresListeProfilsForm.get('search')!.value != null" class="mdi mdi-close-circle search-widget-icon search-widget-icon-close"></span>
                                </div>
                            </form>

                            <div class="d-flex gap-2 align-items-start">
                                <button class="btn btn-primary add-btn" role="button" (click)="openNouveauProfilModal()"><i class="ri-add-fill me-1 align-bottom"></i>Ajouter</button>
                                <!-- <button class="btn btn-success disabled" role="button" (click)="null"><i class="ri-file-download-line me-1 align-bottom"></i>Importer un profil</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Liste des profils</h4>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover table-striped table-nowrap align-middle mb-0">
                                <thead class="">
                                    <tr class="">
                                        <th scope="col" style="width: 50px;">#</th>
                                        <th scope="col">Titre</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Dernière modification</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let profil of listeProfils.data; index as profilIndex">
                                        <td>
                                            {{ (listeProfils.paginationSize! * listeProfils.currentPage!) + profilIndex + 1 }}
                                        </td>
                                        <td>{{ profil.titre }}</td>
                                        <td>
                                            <span *ngIf="profil.description">{{ profil.description }}</span>
                                            <span *ngIf="!profil.description" class="text-muted text-end"><i>Aucune description</i></span>
                                        </td>
                                        <td>
                                            {{ profil.updatedAt | date: 'dd MMM YYYY HH:mm' | titlecase }}
                                        </td>
                                        <td>
                                            <div class="d-flex gap-3 justify-content-center align-items-center">
                                                <a role="button" (click)="openModificationProfilModal(profilIndex)"><i class="ri-pencil-line text-secondary fs-5"></i></a>
                                                <a role="button" (click)="openSuppressionProfilModal(profilIndex)"><i class="ri-delete-bin-line text-danger fs-5"></i></a>
                                            </div>
                                            <!-- <div class="d-flex gap-3 justify-content-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-light btn-icon btn-sm dropdown" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false"> <i class="ri-more-fill align-bottom"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" role="button" (click)="openModificationProfilModal(profilIndex)">Modifier</a></li>
                                                        <li class="dropdown-divider"></li>
                                                        <li>
                                                            <a class="dropdown-item text-danger" role="button" (click)="openSuppressionProfilModal(profilIndex)">Supprimer</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                        </td>
                                    </tr>
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                            <div>
                                <app-custom-pagination-controls [currentPage]="listeProfils.currentPage" [totalItems]="listeProfils.totalItems" [totalPages]="listeProfils.totalPages" (paginationChange)="getProfils($event)"></app-custom-pagination-controls>
                            </div>

                            <app-no-data-banner [show]="listeProfils.data.length == 0" text="Aucun profil"></app-no-data-banner>
                        </div><!-- end table responsive -->
                    </div><!-- end card body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->

    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->


<!-- Modals -->
<app-custom-modal title="Nouveau profil" [show]="showNouveauProfilModal" (modalClose)="annulerCreationProfil()">
    <div body>
        <form [formGroup]="nouveauProfilForm">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div>
                        <label for="titre" class="form-label">Libellé</label>
                        <input type="text" class="form-control" id="titre" formControlName="titre">
                        <div *ngIf="nouveauProfilForm.get('titre')!.invalid && (nouveauProfilForm.get('titre')!.dirty || nouveauProfilForm.get('titre')!.touched)">
                            <app-form-message [show]="nouveauProfilForm.get('titre')!.errors?.['required']" type="danger" text="Entrer un libellé"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="annulerCreationProfil()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerCreationProfil()" class="btn btn-primary">Valider</button>
        </div>
    </div>
</app-custom-modal>

<app-custom-modal title="Modifier ce profil" [show]="showModificationProfilModal" (modalClose)="annulerModificationProfil()">
    <div body>
        <form [formGroup]="modificationProfilForm">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div>
                        <label for="titre" class="form-label">Libellé</label>
                        <input type="text" class="form-control" id="titre" formControlName="titre">
                        <div *ngIf="modificationProfilForm.get('titre')!.invalid && (modificationProfilForm.get('titre')!.dirty || modificationProfilForm.get('titre')!.touched)">
                            <app-form-message [show]="modificationProfilForm.get('titre')!.errors?.['required']" type="danger" text="Entrer un libellé"></app-form-message>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="annulerModificationProfil()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerModificationProfil()" class="btn btn-primary">Valider</button>
        </div>
    </div>
</app-custom-modal>

<app-custom-modal title="Supprimer ce profil" [show]="showSuppressionProfilModal" (modalClose)="closeSuppressionProfilModal()">
    <div body>
        <p class="text-muted my-4">Êtes-vous sûr de vouloir supprimer ce profil ? <span class="fw-bold">Il sera déplacé dans la corbeille</span> </p>
    </div>
    <div footer>
        <div class="d-flex gap-2 justify-content-end">
            <button type="button" (click)="closeSuppressionProfilModal()" class="btn btn-light">Annuler</button>
            <button type="button" (click)="validerSuppressionProfil()" class="btn btn-danger">Confirmer</button>
        </div>  
    </div>
</app-custom-modal>