{
    "presets": [["@babel/preset-env", {
        "targets":  {
            "node": "18.19.1"
        }
    }], ["@babel/preset-typescript", {"allowDeclareFields": true}]],
    "plugins": [
        ["@babel/plugin-transform-runtime"]
    ]
}